body {
  margin: 0;
  padding: 0;
  background-color: rgb(37 37 44);
  font-size: 14px;
}

.player_button {
  padding: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.player_button:hover {
  background: #ffffff24;
}

.upload {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

#player {
  width: 100%;
  height: 100dvh;
  position: relative;
  color: #fff;
  font-size: 1rem;
  overflow: hidden;
}

#player .player_video {
  width: 100%;
  object-position: center;
  /* object-fit: cover; */
  height: 100%;
}

.right-controls {
  min-width: 180px;
  text-align: right;
}

.player_controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(5px);
  transform: translateY(100%);
  transition: all 0.3s;
  background: #00000075;
  color: #fff;
  font-size: 1rem;
  z-index: 2;
}
#player.showControls .player_controls,
.player_controls:hover {
  transform: translateY(0);
}

/**/
/*css to style input type="range"*/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 100px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}
input[type="range"]::-webkit-slider-thumb {
  height: 0.75em;
  width: 1em;
  border-radius: 0.25em;
  background: dodgerblue;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
  box-shadow: 0 0 2px rgb(15, 14, 80);
}

input[type="range"]::-moz-range-track {
  /*?*/
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}
input[type="range"]::-moz-range-thumb {
  /*?*/
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  height: 12px;
  width: 17px;
  border-radius: 50px;
  /* background: #ffc600; */
  background: var(--primary);
  cursor: pointer;
}

.equalizer {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
}

.slide-wrapper {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 40px;
  height: 150px;
  line-height: 0;
  padding: 5px 0;
  flex-grow: 1;
}

.slide-wrapper input[type="range"] {
  -webkit-appearance: none;
  width: 100px;
  height: 20px;
  transform: rotate(-90deg);
  background-color: transparent;
}

.slide-wrapper .scope {
  font-size: 12px;
  line-height: 1.5;
  color: #ffffff;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background-color: #f0dddd;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -6px;
  width: 16px;
  height: 16px;
  background-color: var(--primary);
  border-radius: 8px;
  border: 0 none;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  background-color: #d8d8d8;
  border-radius: 3px;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background-color: var(--primary);
  border-radius: 8px;
  border: 0 none;
  cursor: pointer;
}

.progress-range,
.progress-range > .progress-bar {
  height: 3px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}
.player_controls:hover :is(.progress-range, .progress-range > .progress-bar) {
  height: 8px;
}

.progress-range {
  background: #ffffff82;
  cursor: pointer;
}

.progress-bar {
  background-color: var(--primary);
}

#fileUpload {
  position: relative;
}

#myFileInput {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.myEqualizer {
  position: fixed;
  right: 0;
  top: 0;
  padding: 1rem;
  border: 1px solid #eeeeee26;
  border-radius: 10px;
  background: #0000008c;
  z-index: 3;
}

.captions {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  opacity: 0.8;
  width: 100%;
}

#control:is(:hover, .active),
#toggleEq:is(:hover, .active),
#speaker:is(:hover, .active) {
  background: var(--primary);
  opacity: 1;
}

@media (max-width: 768px) {
  .equalizer {
    flex-direction: column;
  }

  .slide-wrapper {
    flex-direction: row;
    width: 100%;
    height: 50px;
  }

  .left-controls {
    position: relative;
  }

  .left-controls #volume_slider {
    position: absolute;
    left: -55px;
    top: -75px;
    width: 150px;
    transform: rotate(-90deg);
    display: none;
  }
  .left-controls #speaker.active + #volume_slider {
    display: block;
  }

  .myEqualizer {
    right: 50%;
    top: 60px;
    height: calc(100% - 150px);
    width: 90%;
    overflow: overlay;
    transform: translateX(50%);
  }

  .slide-wrapper input[type="range"] {
    width: 80%;
    height: 20px;
    transform: rotate(0deg);
    background-color: transparent;
  }

  .center-controls {
    /* position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100%;
    text-align: center; */
  }

  .material-symbols-rounded {
    zoom: 2;
  }
}
